body{font-family:tahoma,sans-serif;
font-size:11px;color:#000000;margin-top:2px;margin-left:0px;margin-right:10p
x;margin-bottom:2px;background-color:#ffffff}
input{font-family:tahoma,sans-serif; font-size:11px}
TABLE{font-family:tahoma,sans-serif; font-size:11px;border:0px}
a{color:#000099}
.swnu{font-family:tahoma,sans-serif;font-size:11px;color:#ffffff;text-decora
tion:none}
.sb{font-family:tahoma,sans-serif;font-size:11px;color:#003366}
.bnu{font-family:tahoma,sans-serif;color:#000099;font-size:13px;text-decorat
ion:none}
.sbnu{font-family:tahoma,sans-serif;font-size:11px;color:#000099;text-decora
tion:none}
.snub{font-family:tahoma,sans-serif;font-size:11px;color:#000099;text-decora
tion:none}
.snu{font-family:tahoma,sans-serif;font-size:11px;text-decoration:none}
.sw{font-family:tahoma,sans-serif;font-size:11px;color:#ffffff}
.s{font-family:tahoma,sans-serif;font-size:11px}
.swnub{font-family:tahoma,sans-serif;font-size:11px;font-weight:BOLD;color:#
FFFFFF;text-decoration:none}
.sbnub{font-family:tahoma,sans-serif;font-size:11px;font-weight:BOLD;color:#
003366;text-decoration:none}
.sbd{font-family:tahoma,sans-serif;font-size:11px;font-weight:BOLD}
.swb{font-family:tahoma,sans-serif;font-size:11px;font-weight:BOLD;color:#FF
FFFF}
.sbbd{font-family:tahoma,sans-serif;font-size:11px;font-weight:BOLD;color:#1
04A7B}
.fwnu{font-family:tahoma,sans-serif;color:#ffffff;text-decoration:none;font-
size:11px}
.fnu{font-family:tahoma,sans-serif;color:#000099;text-decoration:none;font-s
ize:11px}
.fw{font-family:tahoma,sans-serif;color:#ffffff;font-size:11px}
.f{font-family:tahoma,sans-serif;font-size:11px}
.flb{font-family:tahoma,sans-serif;font-size:24px;font-weight:BOLD;color:#00
0000}
.flbs{font-family:tahoma,sans-serif;font-size:11px;font-weight:BOLD;color:#1
04A7B}
.Tdom{font-family:tahoma,sans-serif;font-size:11px;font-weight:BOLD;color:#1
04A7B}
.pbnu{font-family:tahoma,sans-serif;font-size:11px;color:#000099;text-decora
tion:none}
.title{font-family:tahoma,san-serif;font-size:13px;color:#104A7B;font-weight
:BOLD}
.Wf{font-family:tahoma,sans-serif;font-size:12px}
.ns4Wf{font-family:tahoma,sans-serif;font-size:13px}
.menu{font-family:tahoma,sans-serif;font-size:11px;color:#000066;font-weight
:BOLD;text-decoration:none}
TD.B{BACKGROUND-COLOR: #000000}
TD.H{BACKGROUND-COLOR: #640007}
TR.H{BACKGROUND-COLOR: #C3D6E6}
TD.TableHead{BACKGROUND-COLOR: #DA896C}
TR.TableHead{BACKGROUND-COLOR: #DA896C}
TR.TableRow1{BACKGROUND-COLOR: #FFEDED}
TR.TableRow2{BACKGROUND-COLOR: #A51010}
TD.TableRow1{BACKGROUND-COLOR: #FFEDED}
TD.TableRow2{BACKGROUND-COLOR: #A51010}
TD.BGLOW{BACKGROUND-COLOR: #00C000}
TD.BGMED{BACKGROUND-COLOR: #FFFF00}
TD.BGHIG{BACKGROUND-COLOR: #FF0000}
TD.GROUPHEADBG{BACKGROUND-COLOR: #FFEFEF}
TABLE.SEARCHBOX{BACKGROUND-COLOR: #FFDEDE}
.bttntext
{font-family:tahoma,sans-serif;font-size:11px;font-weight:BOLD;color:#336699
;text-decoration:none}
.Bsbttn {font-family:tahoma,sans-serif;font-size:13px;background:
#D6E7EF;border-bottom: 1px solid #104A7B;border-right: 1px solid
#104A7B;border-left: 1px solid #AFC4D5;border-top:1px solid #AFC4D5;
color:#000066;text-decoration:none;cursor: hand}
.sbttn {font-family:tahoma,sans-serif;font-size:11px;background:
#A51010;border-bottom: 1px solid #104A7B;border-right: 1px solid
#104A7B;border-left: 1px solid #AFC4D5;border-top:1px solid
#AFC4D5;color:#FFFFFF;height:19px;text-decoration:none;font-weight
:BOLD;cursor: hand}
.pbttn {font-family:tahoma,sans-serif;font-size:11px;background:
#D6E7EF;border-bottom: 1px solid #104A7B;border-right: 1px solid
#104A7B;border-left: 1px solid #AFC4D5;border-top: 1px solid
#AFC4D5;color:#000066;height: 19px;text-decoration:none;padding-left:
4px;padding-right: 4px;padding-top:2px;cursor: hand}
.obttn {font-family:tahoma,sans-serif;font-size:11px;background:
#D6E7EF;vertical-align:
middle;color:777777;padding:1px;padding-left:6px;padding-right:
6px;text-decoration:none}
.ns4obttn {font-family:tahoma,sans-serif;font-size:12px;background:
#D6E7EF;color:#8CA5B5;text-decoration:none}
.ns4sbttn
{font-family:tahoma,sans-serif;font-size:12px;background:#D6E7EF;border-bott
om: 1px solid #104A7B;border-right: 1px solid #104A7B;border-left: 1px solid
#AFC4D5;border-top: 1px solid #AFC4D5;color:#000066;height:
19px;text-decoration:none}
.drpdwn{font-family:tahoma,san-serif;font-size:11px;color:#000066;background
-color:#D6E7EF}
TABLE.Mtable TD {border-bottom:solid #93BEE2 1px}
.transactionDark {border-color:#336699;border-style:solid;border-width:1px}
.transactionLight {border-color:#336699;border-style:solid;border-width:1px}
.msglistcntrl TD {border-bottom:none}
.selected50size { width: 50px; color: #000000; font-weight: normal; }
.selected75size { width: 75px; color: #000000; font-weight: normal; }
.selected100size { width: 100px; color: #000000; font-weight: normal; }
.selected125size { width: 125px; color: #000000; font-weight: normal; }
.selected150size { width: 150px; color: #000000; font-weight: normal; }
.selectedResource125size { width: 125px; color: #000000; font-family: Verdana, sans-serif; font-size: 12px; text-decoration: none; font-weight:none; }


